// intro-start
.intro {
    div & .intro-left {
        width: 75%;
    }

    div & .title {
        h3 {font-size: 30px;}
        h1 {font-size: 55px}
        h2 {font-size: 33px}
    }
}
// intro-end

// promo-slide-start
div .promo {
    .scroll-nav {
        margin-right: 25px;
        margin-left: 25px;
    }
}
// promo-slide-end