// header-start
header {
    padding-left: 40px;
    padding-right: 40px;

    .hamberger {display: flex;}
    .sosmed, .navigasi {display: none;}
} 
// header-end


// intro-start
.intro {
    div & {grid-template-columns: 100%};
}
// intro-end