// header-start
header {
    padding-left: 40px;
    padding-right: 40px;

    .hamberger {display: flex;}
    .sosmed, .navigasi {display: none;}
} 
// header-end

// intro-start
.intro {
    div & {
        grid-template-columns: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    div & .title {
        align-items: center;

        h1, h2, h3 {text-align: center;}
    }
}
// intro-end

// promo-slide-start
div .promo-grabber {
    padding: 30px 0 30px 0;
}

div .promo {
    .scroll-nav {
        margin-right: 30px;
        margin-left: 30px;
    }
}
// promo-slide-end