@use "../partials/color" as *;
@use "../partials/duration" as *;

.promo-grabber {
    padding: 50px 0 50px 0;
    margin-bottom: 50px;
    background-color: $bg-promo;
}

.promo {
    max-width: 1100px;
    margin: auto;
    box-sizing: border-box;
    display: grid;
    grid : {
        template-columns: max-content auto max-content;
        template-rows: max-content;
    };
    align-items: center;

    .scroll-nav {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $button;
        font-size: 40px;
        cursor: pointer;
        margin-right: 45px;
        margin-left: 45px;
    }
}

.promo-content {
    display: grid;
    grid: {
        template-columns: repeat(8, max-content);
        template-rows: max-content;
    };
    overflow: hidden;
    
    .promo-product {
        width: 200px;
        height: 350px;
        margin-left: 40px;
        margin-right: 40px;
        position: relative;

        .wrap {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: grid;
            grid: {
                template-columns: max-content max-content;
                template-rows: max-content;
            };
            justify-content: center;
            align-content: center;
            img {
                transition: $sidebar-dr;
            }
        }

        .price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            color: $button;
            font-weight: bolder;
            transition: $sidebar-dr;

            p:first-child {
                border-radius: 50%;
                background-color: $bg-price;
                text-align: center;
                padding: 10px;
                font-size: 27px;
            }

            p:last-child {
                text-align: center;
                font-size: 40px;
            }
        }
    }
}

.big-img {
    width: 250px;
}

.normal-img {
    width: 180px;
}

.price-off {
    width: 0;
}