// partials
@use "partials/color" as *;
@use "partials/amount" as *;
@use "partials/duration" as *;

// font-awesome
@import 'module/font-awesome.css';

// global-start
@import 'module/global.css';
// global-end

// header-start
@import 'module/header.css';
// header-end

// intro-start
.intro {
    box-sizing: border-box;
    padding: 65px 50px 0px 50px;
    margin-bottom: 50px;
    display: grid;
    grid: {
        template-columns: 50% 50%;
        template-auto-rows: max-content;
    }
    justify-items: center;
    row-gap: 50px;

    .intro-left {
        width: 300px;
        padding-top: 15px;
    }

    .model {
        width: 100%;
        grid-area: right;
        display: grid;
        grid: {
            direction: end;
            template-columns: repeat(6, 100%);
            template-rows: max-content;
        };
        overflow: hidden;
        margin-bottom: 5px;

        & > * {
            margin-left: 35px;
            margin-right: 35px;
        }
    }

    img {
        width: 100%;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-transform: capitalize;
        font-weight: bold;

        h1, h2, h3 {
            text-align: end;
            color: $base-dark;
        }

        h3 {
            font-size: 35px;
            margin-bottom: $title-down;
        }

        h1 {
            font-size: 60px;
            font-weight: bolder;
            &:last-of-type {   
                margin-bottom: $title-down;
            }
        }

        h2 {
            font-size: 38px;
            margin-bottom: $title-down;
        }

        .btn {
            width: 135px;
            height: 50px;
            background-color: $button;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $base-light;
            text-transform: uppercase;
            font-size: 17px;
        }
    }

    .m-scroll {
        width: 100%;
        height: 27px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .scroll-bullet {
        display: flex;
        align-items: center;
        height: 100%;
        .bullet {
            border-radius: 50%;
            background-color: $base-dark;
            transition: $sidebar-dr;
            margin-left: 2px;
            margin-right: 2px;
        }
    }


    .m-scroll-layer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .l-bullet {
            width: 24px;
            height: 100%;
            cursor: pointer;
        }
    }
}

.normal-bullet {
    width: 11px;
    height: 11px;
}

.big-bullet {
    width: 16px;
    height: 16px;
}
// intro-end

// promo-slide-start
@import 'module/promo-slide.css';
// promo-slide-end

// popular-start
@import 'module/popular.css';
// popular-end

// blog-start
@import 'module/blog.css';
// blog-end

// footer-start
@import 'module/footer.css';
// footer-end

// reponsive-desktop
@import 'module/popular-desktop.css' screen and (max-width: 920px);
@import 'module/blog-desktop.css' screen and (max-width: 820px);

// responsive-tablet
@import 'module/landing-tablet.css' screen and (max-width: 768px);
@import 'module/promo-slide-tablet.css' screen and (max-width: 768px);
@import 'module/popular-tablet.css' screen and (max-width: 768px);
@import 'module/footer-tablet.css' screen and (max-width: 768px);

// responsive-phone
@import 'module/landing-phone.css' screen and (max-width: 500px);
@import 'module/promo-slide-phone.css' screen and (max-width: 500px);
@import 'module/popular-phone.css' screen and (max-width: 500px);
@import 'module/blog-phone.css' screen and (max-width: 500px);
@import 'module/footer-phone.css' screen and (max-width: 500px);
