@import 'global.css';

// font-awesome
@import 'module/font-awesome.css';

@import 'module/header.css';

// intro-start
.intro {
    box-sizing: border-box;
    padding: 65px 0px 0px 0px;
    display: grid;
    grid: {
        template-columns: 50% 50%;
        template-auto-rows: max-content;
    }
    justify-items: center;
    row-gap: 50px;


    .model {
        width: 270px;
        display: grid;
        grid: {
            direction: end;
            template-columns: repeat(6, 100%);
            template-rows: max-content;
        };
        overflow: hidden;

        & > * {
            margin-left: 25px;
            margin-right: 25px;
        }
    }

    img {
        width: 100%;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-transform: capitalize;
        font-weight: bold;

        h3 {font-size: 27px;}
        h1 {font-size: 55px}
        h2 {font-size: 33px;}
        .btn {
            width: 120px;
            height: 35px;
            background-color: orange;
        }
    }
}
// intro-end

// responsive
@import 'module/landing-tablet.css' screen and (max-width: 768px);
