@import 'global.css';
@import 'module/font-awesome.css';
@import 'module/header.css';
@import 'module/landing-tablet.css' screen and (max-width: 768px);
.intro {
  box-sizing: border-box;
  padding: 65px 0px 0px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-auto-rows: max-content;
  justify-items: center;
  row-gap: 50px;
}
.intro .model {
  width: 270px;
  display: grid;
  grid-direction: end;
  grid-template-columns: repeat(6, 100%);
  grid-template-rows: max-content;
  overflow: hidden;
}
.intro .model > * {
  margin-left: 25px;
  margin-right: 25px;
}
.intro img {
  width: 100%;
}
.intro .title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-transform: capitalize;
  font-weight: bold;
}
.intro .title h3 {
  font-size: 27px;
}
.intro .title h1 {
  font-size: 55px;
}
.intro .title h2 {
  font-size: 33px;
}
.intro .title .btn {
  width: 120px;
  height: 35px;
  background-color: orange;
}
