@import 'module/font-awesome.css';
@import 'module/global.css';
@import 'module/header.css';
@import 'module/landing-tablet.css' screen and (max-width: 768px);
@import 'module/landing-phone.css' screen and (max-width: 500px);
.intro {
  box-sizing: border-box;
  padding: 65px 50px 0px 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-auto-rows: max-content;
  justify-items: center;
  row-gap: 50px;
}
.intro .intro-left {
  width: 300px;
  padding-top: 15px;
}
.intro .model {
  width: 100%;
  grid-area: right;
  display: grid;
  grid-direction: end;
  grid-template-columns: repeat(6, 100%);
  grid-template-rows: max-content;
  overflow: hidden;
  margin-bottom: 5px;
}
.intro .model > * {
  margin-left: 35px;
  margin-right: 35px;
}
.intro img {
  width: 100%;
}
.intro .title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-transform: capitalize;
  font-weight: bold;
}
.intro .title h1, .intro .title h2, .intro .title h3 {
  text-align: end;
  color: #454545;
}
.intro .title h3 {
  font-size: 35px;
  margin-bottom: 13px;
}
.intro .title h1 {
  font-size: 60px;
}
.intro .title h1:last-of-type {
  margin-bottom: 13px;
}
.intro .title h2 {
  font-size: 38px;
  margin-bottom: 13px;
}
.intro .title .btn {
  width: 135px;
  height: 50px;
  background-color: #E33929;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FDFDFD;
  text-transform: uppercase;
  font-size: 17px;
}
.intro .m-scroll {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.intro .bullet {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.intro .bullet .core-bullet {
  width: 40%;
  height: 40%;
  background-color: #454545;
  border-radius: 50%;
}
