.blog {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(223, 223, 223);
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: max-content;
  grid-template-auto-rows: max-content;
  grid-template-areas: "title title title";
  justify-content: center;
  row-gap: 30px;
  column-gap: 25px;
  background-image: url(../../img/watch.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  margin-bottom: 50px;
}

.blog-title {
  grid-area: title;
  font-weight: bold;
}
.blog-title h2 {
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 7px;
  color: #454545;
}
.blog-title p {
  color: rgb(105, 104, 104);
}

.blog-article {
  font-weight: bold;
}
.blog-article img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: center 23%;
}
.blog-article .date {
  font-size: 12px;
  color: rgb(105, 104, 104);
}
.blog-article h3 {
  color: #454545;
  font-size: 18px;
}
.blog-article .description {
  font-size: 13.5px;
  color: rgb(105, 104, 104);
  text-align: justify;
}
.blog-article > * {
  margin-bottom: 7px;
}
