header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 100px 5px 100px;
  background-color: whitesmoke;
  transition: 400ms;
}
header .circle-nav {
  width: 18px;
  height: 18px;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}
header .circle-nav i {
  color: #9B9B9B;
}
header .sosmed, header .navigasi {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .sosmed img, header .navigasi img {
  width: 100%;
  height: 100%;
}
header .sosmed {
  width: 160px;
}
header .navigasi {
  width: 100px;
  float: right;
}
header .logo {
  width: 120px;
  cursor: pointer;
}
header .hamberger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
header .hamberger .line {
  height: 5px;
  background-color: #9B9B9B;
  border-radius: 2px;
}
header .hamberger .line:nth-child(2) {
  width: 60%;
  align-self: flex-end;
}

header aside {
  box-sizing: border-box;
  padding: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 80%;
  height: 100%;
  transform: translateX(0%);
  background-color: #6e6e6e;
  transition-duration: 300ms;
  transition-animation-timing-function: ease-out;
}
header aside .exit {
  display: flex;
  cursor: pointer;
  margin-bottom: 15px;
}
header aside .exit .circle-cross {
  padding: 3px;
  border-radius: 50%;
  overflow: hidden;
}
header aside .cross {
  width: 30px;
  height: 30px;
  position: relative;
}
header aside .cross .line {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
header aside .cross .line .sub-line {
  width: 100%;
  height: 5px;
  background-color: whitesmoke;
  border-radius: 20px;
}
header aside .cross .line:first-child .sub-line {
  transform: rotate(45deg);
}
header aside .cross .line:last-child .sub-line {
  transform: rotate(-45deg);
}

header aside nav {
  color: whitesmoke;
  text-transform: capitalize;
}
header aside nav > * {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
header aside nav img {
  width: 25px;
}
header aside nav .separator {
  height: 2px;
  background-color: whitesmoke;
  border-radius: 20px;
}
header aside nav .arrow {
  width: 10px;
  height: 10px;
  border-top: 3px solid whitesmoke;
  border-left: 3px solid whitesmoke;
  transition-duration: 300ms;
  transition-animation-timing-function: ease-out;
}
header aside nav .nav-title {
  margin-left: 8px;
}
header aside nav .nav-el:first-child, header aside nav .nav-el:nth-child(7) {
  position: relative;
  display: grid;
  grid-template-columns: max-content auto 20px;
  grid-template-rows: max-content max-content;
  grid-template-areas: "satu dua tiga" "empat empat empat";
  grid-gap: 8px;
}
header aside nav .nav-el:first-child .click, header aside nav .nav-el:nth-child(7) .click {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
}
header aside nav .nav-el:first-child i, header aside nav .nav-el:nth-child(7) i {
  grid-area: satu;
}
header aside nav .nav-el:first-child .nav-title, header aside nav .nav-el:nth-child(7) .nav-title {
  grid-area: satu;
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 25px;
}
header aside nav .nav-el:first-child .arrow, header aside nav .nav-el:nth-child(7) .arrow {
  grid-area: tiga;
}
header aside nav .nav-el:first-child .input-field, header aside nav .nav-el:first-child ul, header aside nav .nav-el:nth-child(7) .input-field, header aside nav .nav-el:nth-child(7) ul {
  grid-area: empat;
  border: none;
  padding: 0;
  transition-duration: 300ms;
  transition-animation-timing-function: ease-out;
}
header aside nav .nav-el:first-child .input-field, header aside nav .nav-el:nth-child(7) .input-field {
  display: grid;
  grid-template-columns: auto max-content;
  grid-grid-template-rows: max-content;
  border-radius: 3px;
  overflow: hidden;
  transition-duration: 300ms;
  transition-animation-timing-function: ease-out;
}
header aside nav .nav-el:first-child .input-field .btn-search, header aside nav .nav-el:nth-child(7) .input-field .btn-search {
  background-color: whitesmoke;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header aside nav .nav-el:first-child .input-field .btn-search i, header aside nav .nav-el:nth-child(7) .input-field .btn-search i {
  color: #9B9B9B;
}
header aside nav .nav-el:first-child .input-field input, header aside nav .nav-el:nth-child(7) .input-field input {
  outline: none;
  border: none;
  box-sizing: border-box;
  padding: 8px;
  background-color: whitesmoke;
  color: rgb(100, 100, 100);
}
header aside nav .nav-el:first-child ul, header aside nav .nav-el:nth-child(7) ul {
  overflow: hidden;
  box-sizing: inherit;
  padding-left: 50px;
  transition: 500ms;
}
header aside nav .nav-el:first-child ul li, header aside nav .nav-el:nth-child(7) ul li {
  margin-bottom: 10px;
}
header aside nav .nav-el:first-child ul li:hover a, header aside nav .nav-el:nth-child(7) ul li:hover a {
  color: rgb(201, 201, 201);
}
header aside nav .nav-el:first-child ul li a, header aside nav .nav-el:nth-child(7) ul li a {
  text-transform: inherit;
  color: inherit;
  text-decoration: inherit;
}

.shadow-on {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.336);
}

.side-bar-on {
  transform: translateX(-100%);
}

.arrow-off {
  transform: rotate(-45deg);
}

.arrow-on {
  transform: rotate(-135deg);
}

.search-on {
  height: 30px;
}

.search-off {
  height: 0;
}

.category-on {
  height: 95px;
}

.category-off {
  height: 0;
}
