header {
  padding-left: 40px;
  padding-right: 40px;
}
header .hamberger {
  display: flex;
}
header .sosmed, header .navigasi {
  display: none;
}

div .intro {
  grid-template-columns: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
div .intro .title {
  align-items: center;
}
div .intro .title h1, div .intro .title h2, div .intro .title h3 {
  text-align: center;
}

div .promo-grabber {
  padding: 30px 0 30px 0;
}

div .promo .scroll-nav {
  margin-right: 30px;
  margin-left: 30px;
}
